// 圆角

.radiu-15{
    border-radius: var(--base-size-15) !important;
  }

.radius-5 {
  border-radius: var(--base-size-5) !important;
}

.radius-10 {
  border-radius: var(--base-size-10) !important;
}

.radius-20 {
  border-radius: var(--base-size-20) !important;
}

.radius-30 {
  border-radius: var(--base-size-30) !important;
}
